.nav_bar_logo{
    height: 32px;
    width: 32px;
}
.nav-link{
    position: relative;
    font-family: "MiSans Latin", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.navbar-text{
    font-family: "MiSans Latin", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    position: absolute;
    content: "";
    left: 0px;
    top: 112%;
    background-color: #FF6900;;
    height: 3px;
    width: 0%;
}
.nav-link:hover:after{
width: 100%;
}
.nav-link:hover{
    color: #FF6900;
}
.navbar-text::after{
    content: "";
    position: absolute;
    display: block;
    top: 112%;
    height: 3px;
    width: 0%;
    background-color: #FF6900;
}
.navbar-text:hover:after{
    width: 60%;
}
.navbar-text:hover{
    color: #FF6900;
}
.slide_image{
    height: 600px;
}