body{
    background-color: rgb(247, 247, 247)    ;
}
header{
    height: 56px;
    background-color: white;
}
.nav_bar_logo{
    height: 32px;
    width: 32px;
}
.nav-link{
    position: relative;
    font-family: "MiSans Latin", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.navbar-text{
    font-family: "MiSans Latin", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    position: absolute;
    content: "";
    left: 0px;
    top: 112%;
    background-color: #FF6900;;
    height: 3px;
    width: 0%;
}
.nav-link:hover:after{
width: 100%;
}
.nav-link:hover{
    color: #FF6900;
}
.navbar-text::after{
    content: "";
    position: absolute;
    display: block;
    top: 112%;
    height: 3px;
    width: 0%;
    background-color: #FF6900;
}
.navbar-text:hover:after{
    width: 60%;
}
.navbar-text:hover{
    color: #FF6900;
}
.nav_img{
    width: 100%;
    height: 655px;
    position: relative;
}
.carousel-caption{
    position: absolute;
    text-align: left;
    top: 230px;
    left: 150px;
}
.carousel-caption h3{
    font-family: "MiSans Latin", sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 24px;
    font-family: "MiSans Latin", sans-serif;
    font-weight: 500;
}
.carousel_learn_more{
    position: absolute;
    top: 200px;
    left: 0px;
    height: 40px;
    width: 140px;
    border: none;
}
.carousel_learn_more a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}